#footerid{
    min-height: 80px;
background-color: #8d6e5a;


}
#txt{
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 29px;
    text-align: center;
    font-size: x-large;
    color: #fde5da;
}